.button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:orange;
    border: none;
    color: black;
    padding: 15px 32px;
    font-size: 20px;
    cursor: pointer;
}

.nextbutton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:orange;
    border: none;
    color: black;
    padding: 10px 25px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.flex-container {
    display: flex;
    margin-top: 20px;
}
.flex-child {
    flex: 1;
}
.flex-child:first-child {
    margin-right: 10px;
}


.button-div {
    position:relative;
    text-align:center;
    top: 15px;
}



.form {
    position: relative;
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 75px;
}

.canvas-title {
    position: relative;
    text-align:center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top:10px;
}

#student-canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px darkred solid;
    position:relative;
    left:0px;
    top:10px;
}

#expert-canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px darkolivegreen solid;
    position:relative;
    left:0px;
    top:10px;
}